<ion-view title="Template" hide-back-button="true">
    <ion-content padding="true" class="has-header">
        <a ui-sref="state1" class="button button-positive  button-block icon ion-compose">&nbsp;State 1</a>
        <a ui-sref="state2"  class="button button-positive  button-block icon ion-compose">&nbsp;State 2</a>
        <a ui-sref="state3"  class="button button-positive  button-block icon ion-compose">&nbsp;State 3</a>
        <a ui-sref="state4" class="button button-positive  button-block icon ion-compose">&nbsp;State 4</a>
        <a ui-sref="map" class="button button-positive  button-block icon ion-compose">&nbsp;Show Map!</a>
        <a class="button button-positive  button-block icon ion-backspace-outline" ng-click="logoutFunction()">&nbsp;Salir</a>
    </ion-content>
</ion-view>
