<ion-view hide-back-button="true">

	<ion-nav-title>
      Muro
    </ion-nav-title>

  <ion-tabs class="tabs-icon-top">

    <ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline">
      <!-- Tab 1 content -->

    </ion-tab>

    <ion-tab title="Publicar Jalon" icon-on="ion-ios-download" icon-off="ion-ios-download-outline">
      <!-- Tab 2 content -->
    </ion-tab>

    <ion-tab title="Pedir Jalon" icon-on="ion-ios-upload" icon-off="ion-ios-upload-outline">
      <!-- Tab 3 content -->
    </ion-tab>

  </ion-tabs>

	<ion-nav-buttons side="left">
      <button class="button button-icon icon ion-navicon" ng-click="popover.show($event)"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-person" ui-sref="profile">
      </button>
    </ion-nav-buttons>

    <ion-content padding="true" class="has-header has-tabs" scroll="true">

    	<div class="list card">
		  <div class="item item-avatar">
		    <img src="img/max.png">
		    <h2>End Point: Zona 10, Pradera</h2>
		    <br>
		    <h2>Start Point: Zona 15, Wendys</h2>
		    <p>Marty Mcfly</p>
		  </div>

		  <div class="item item-body">

		    <p>
		      <a href="#" class="subdued">Puntuation: 4.3/5</a>
		    </p>
		  </div>

		</div>

		<div class="list card">
		  <div class="item item-avatar">
		    <img src="img/perry.png">
		    <h2>End Point: Nueva Zelanda, costa</h2>
		    <br>
		    <h2>Start Point: Ukrania, Kiev</h2>
		    <p>Perry Juanin</p>
		  </div>

		  <div class="item item-body">

		    <p>
		      <a href="#" class="subdued">Puntuation: 1/5</a>
		    </p>
		  </div>

		</div>
	</ion-content>


  <script id="popoverID" type="text/ng-template">
    <ion-popover-view>
      <ion-content>
        <a class="button icon-left button-positive ion-power botones" ng-click="logoutFunction()">Desconectar</a>
        <a ui-sref="searchroute" class="button icon-left button-positive ion-search botones">Buscar Ruta</a>
      </ion-content>
    </ion-popover-view>
  </script>


</ion-view>

