<ion-view title="Publicar jalon" hide-back-button="false">
  <ion-tabs class="tabs-icon-top">

    <ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="muro">
      <!-- Tab 1 content -->

    </ion-tab>

    <ion-tab title="Publicar Jalon" icon-on="ion-ios-download" icon-off="ion-ios-download-outline" ui-sref="postJalon">
      <!-- Tab 2 content -->
    </ion-tab>

    <ion-tab title="Pedir Jalon" icon-on="ion-ios-upload" icon-off="ion-ios-upload-outline" ui-sref="askJalon">
      <!-- Tab 3 content -->
    </ion-tab>

  </ion-tabs>
    <ion-content padding="true" class="has-header has-tabs">
    	<form class="list">
            <ion-list>
            <label class="item item-input">
                    <span class="input-label">Punto de salida</span>
                    <input name="go_point" type="text" placeholder="Dirección de salida">
                </label>
                <label class="item item-input">
                    <span class="input-label">Destino</span>
                    <input name="end_point" type="text" placeholder="Dirección destino">
                </label>
                <label class="item item-input">
                    <span class="input-label">Hora de salida</span>
                    <input name="exit_time" type="time">
                </label>
                <label class="item item-input">
                    <span class="input-label">Comentario</span>
                    <input name="extra" type="text" placeholder="Preferencias">
                </label>
                <label class="item item-input">
                    <span class="input-label">Teléfono</span>
                    <input name="phone" type="text" placeholder="Teléfono">
                </label>
            </ion-list>
            <button style="top:30px; left:35%" class="button button-positive"
            ng-click="publishFunction()">
				Pull'em!
			</button>
        </form>
	</ion-content>
</ion-view>
