<ion-view title="Muro" hide-back-button="false">
    <ion-content padding="false" scroll="false" class="has-header" scroll="true">
    	<div class="list card">
		  <div class="item item-avatar">
		    <img src="img/max.png">
		    <h2>End Point: Zona 10, Pradera</h2>
		    <br>
		    <h2>Start Point: Zona 15, Wendys<h2>
		    <p>Marty Mcfly</p>
		  </div>

		  <div class="item item-body">
		    
		    <p>
		      <a href="#" class="subdued">Puntuation: 4.3/5</a>
		    </p>
		  </div>

		</div>

		<div class="list card">
		  <div class="item item-avatar">
		    <img src="img/perry.png">
		    <h2>End Point: Nueva Zelanda, costa</h2>
		    <br>
		    <h2>Start Point: Ukrania, Kiev<h2>
		    <p>Perry Juanin</p>
		  </div>

		  <div class="item item-body">
		    
		    <p>
		      <a href="#" class="subdued">Puntuation: 1/5</a>
		    </p>
		  </div>

		</div>
	</ion-content>
</ion-view>
