<ion-view title="Perfil" hide-back-button="false">
    <ion-content padding="false" scroll="false" class="has-header" scroll="true">
    	<div class="list card">

        <div class="item item-image">
          <img src="img/ben.png" style="height: 50%; width: 50%; object-fit: contain">
        </div>

         <a class="item item-icon-left">
           <i class="icon ion-person"></i>
           <label class="item item-input" >
            <input type="text" placeholder="Ben Affleck" style="height: 50%">
            </input>
           </label>
         </a>


        <a class="item item-icon-left">
          <i class="icon ion-ios-telephone"></i>
           <label class="item item-input">
            <input type="tel" placeholder="3064-8795" style="height: 50%">
            </input>
           </label>
        </a>

        <a class="item item-icon-left">
          <i class="icon ion-at"></i>
           <label class="item item-input">
            <input type="email" placeholder="@BenAffleckOffcial" style="height: 50%">
            </input>
           </label>
        </a>

        <a class="item item-icon-left">
          <i class="icon ion-ios-locked"></i>
           <label class="item item-input">
            <input type="password" style="height: 50%">
            </input>
           </label>
        </a>

        <a class="item item-icon-left">
          <i class="icon ion-model-s"></i>
           <label class="item item-input">
            <input type="text" placeholder="2622 04549 0101" style="height: 50%">
            </input>
           </label>
        </a>

      </div>

        <a ui-sref="modifyroute" class="button button-small button-assertive">Change Route</a>


	</ion-content>
</ion-view>
