<ion-view title="Perfil" hide-back-button="false">
    <ion-content padding="false" scroll="false" class="has-header" scroll="true">
    	<div class="list card">
	
		  <div class="item item-image">
		    <img src="img/ben.png" style="height: 50%; width: 50%; object-fit: contain">
		  </div>
		  <a href="#" class="item item-icon-left">
		    <i class="icon ion-person"></i>
		    Nombre
		  </a>

		  <a href="#" class="item item-icon-left">
		    <i class="icon ion-ios-telephone"></i>
		    Numero de telefono
		  </a>

		  <a href="#" class="item item-icon-left">
		    <i class="icon ion-at"></i>
		    Correo/Twitter
		  </a>

		  <a href="#" class="item item-icon-left">
		    <i class="icon ion-ios-locked"></i>
		    Contraseña
		  </a>

		  <a href="#" class="item item-icon-left">
		    <i class="icon ion-model-s"></i>
		    Licencia/DPI
		  </a>

	</ion-content>
</ion-view>
