<ion-view title="forgotpass" hide-back-button="true">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Correo Electrónico</span>
                    <input id="email" type="email" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a class="button button-stable  button-block"  ui-sref="forgotpass">Enviar Correo Electronico</a>
        </form>
    </ion-content>
</ion-view>
