<ion-view title="Registro">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-list>
            <label class="item item-input">
                    <span class="input-label">Nombres</span>
                    <input id="first_name" type="text" placeholder="" name="first_name">
                </label>
                <label class="item item-input">
                    <span class="input-label">UserName</span>
                    <input id="username" type="text" placeholder="" name="last_name">
                </label>
                <label class="item item-input">
                    <span class="input-label">Correo electónico</span>
                    <input id="email" type="email" placeholder="" name="email">
                </label>
                <label class="item item-input">
                    <span class="input-label">Contraseña</span>
                    <input id="password" type="password" placeholder="" name="password">
                </label>
				<label class="item item-input">
                    <span class="input-label">Confirm Password</span>
                    <input id="password2" type="password" placeholder="" name="password">
                </label>
                <label class="item item-input">
                    <span class="input-label">Dirección</span>
                    <input id="address" type="text" placeholder="" name="address">
                </label>
                <label class="item item-input">
                    <span class="input-label">Teléfono</span>
                    <input id="phone" type="text" placeholder="" name="phone">
                </label>
                <button class="button button-stable  button-block" type="submit">New User</button>
            </ion-list>
        </form>
    </ion-content>
</ion-view>